<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
    </head>

    <body> 
        <img id='pixabay' src=''>
        <form onsubmit="return formHandler(event)">
            <input class='save' id='departInput' type='text' value='' placeholder='Departure City'>
            <input class='save' id='arriveInput' type='text' value='' placeholder='Arrival City'>
            <!-- <input id='dateInput' type='text' value='' placeholder=''> -->
            <form>
                <label for='Departing'>Departing</label>
                <input class='save' id='departDate' name='Departing' type='date'>
                <label for='Arriving'>Returning</label>
                <input class='save' id='arriveDate' name='Arriving' type='date'>
            </form>
            <input id='submit' type='submit' name='' value='Submit' onSubmit="return formHandler(event)" onClick="return formHandler(event)">
        </form>
        
        <div id='departWeather'><img src='' id='departIcon'></div>
        <div id='arriveWeather'><img src='' id='arriveIcon'></div>
        <section>

            <button id='save'>Save</button>
            <button id='delete'>delete</button>

                <!-- <input id='save' type='submit' name='' value='Save'> -->
                <!-- <input id='Save' type='submit' name='' value='Delete' onSubmit="return saveDelete(event)" onClick="return saveDelete(event)"> -->

        </section>
        <section>
            <h2>Trips</h2>
            <div id='savedTrips'>
                
                
            </div>
        </section>

        <script src='../js/formhandler.js'></script>
    </body>