<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
    </head>

    <body> 
        <form onsubmit="return formHandler(event)">
            <input id='userInput' type='text' value='' placeholder='City here'>
            <input id='submit' type='submit' name='' value='Submit' onSubmit="return formHandler(event)" onClick="return formHandler(event)">
            <!-- <input id='dateInput' type='text' value='' placeholder=''> -->
        </form>
        <form>
            <input id='dateInput' type='date'>
        </form>
        <div id='weather'><img src='' id='weatherIcon'></div>
        <script src='../js/formhandler.js'></script>
    </body>