<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
    </head>

    <body> 
        <img id='pixabay' src=''>
        <form onsubmit="return formHandler(event)">
            <input id='departInput' type='text' value='' placeholder='Departure City'>
            <input id='arriveInput' type='text' value='' placeholder='Arrival City'>
            <input id='submit' type='submit' name='' value='Submit' onSubmit="return formHandler(event)" onClick="return formHandler(event)">
            <!-- <input id='dateInput' type='text' value='' placeholder=''> -->
        </form>
        <form>
            <label for='Departing'>Departing</label>
            <input id='departDate' name='Departing' type='date'>
            <label for='Arriving'>Returning</label>
            <input id='arriveDate' name='Arriving' type='date'>
        </form>
        <div id='departWeather'><img src='' id='departIcon'></div>
        <div id='arriveWeather'><img src='' id='arriveIcon'></div>

        <section>
            <div id='savedTrips'></div>
        </section>

        <script src='../js/formhandler.js'></script>
    </body>