/* ---- Footer Contact ---- */

footer {
    margin-bottom: 2em;
}

#tag {
    font-size: 1em;
    color: black;
}

.social_icon:hover {
    transform: scale(1.09)
}

/* ---- Smart Phone ---- */

@media only screen and (max-device-width: 400px) {
    #tag {
        font-size: 2.3em;
    }
}