/* form */
#form {
    display: grid;
    grid-template-areas: 
        'place'
        'date'
        'submit';
    justify-content: center;
    /* align-content: center;
    justify-items: center;
    align-items: center; */
    margin: .5em;
}

#place {
    grid-area: place;
}

#place > .save {
    /* width: 100%;
    border-color: none;
    border-radius: .3em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    margin: .5em;
    border: 0;
    border-color: none */
}

.inputContainer {
    /* width: 100%; */
    border-color: none;
    border-radius: .3em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    /* margin: 1em; */
    margin-bottom: 1em;
    padding-left: .5em;

}

input[type='text'] {
    font-size: 14pt;
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 0;
    width: 90%;
}

#date {
    grid-area: date;
    display: flex;
    justify-content: space-around;
}

#date > label {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 138, 102);
    font-weight: 700;
}

.dateContainer {
    border-color: none;
    border-radius: .3em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    padding: .3em;
    margin-bottom: 1em;
}

input[type='date'] {
    font-size: 14pt;
    /* padding-left: .5em; */
    /* padding-top: .5em; */
    /* padding-bottom: .5em; */
    border: 0;
    /* width: 90%; */
}
input[type='date']:hover {
    cursor: pointer;
}

#submitForm {
    grid-area: submit;
    justify-self: center;
    align-self: center;
    width: 100%;
}

#submitForm:active {
    transform: translateY(3px);
    border-radius: .3em;
}

input[type='submit'] {
    width: 100%;
    border: 0;
    color: white;
    background-color: rgb(255, 138, 102);
    padding: .3em;
    border-radius: .3em;
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    cursor: pointer;
}

input[type='submit']:hover {
    background-color:rgb(253, 108, 40);
}

#submitForm > input {
    /* width: 100%; */
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    background: -webkit-linear-gradient(left, rgb(255, 138, 102) , rgb(250, 142, 41) , rgb(255, 68, 12));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}