/* ---- form ---- */

#body{
    scroll-margin-top: 100px;
    background-color: white;
    margin: 11em;
    border-radius: .5em;
}
#form {
    display: grid;
    grid-template-areas: 
        'place'
        'date'
        'submit';
    justify-content: center;
    margin: 2em;
}

#place {
    grid-area: place;
}

.inputContainer {
    border-color: none;
    border-radius: .3em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    margin-bottom: 1em;
    padding-left: .5em;
}

input[type='text'] {
    font-size: 14pt;
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 0;
}

#arriveInput,
#departInput {
    width: 90%;
    border: none;
    padding: .5em;
}

#date {
    grid-area: date;
    display: flex;
    justify-content: space-around;
}

#date > label {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 138, 102);
    font-weight: 700;
}

.dateContainer {
    border-color: none;
    border-radius: .3em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    padding: .3em;
    margin-bottom: 1em;
}

input[type='date'] {
    font-size: 14pt;
    border: 0;
}

input[type='date']:hover {
    cursor: pointer;
}

#submitForm {
    grid-area: submit;
    justify-self: center;
    align-self: center;
    width: 100%;
}

#submitForm:active {
    transform: translateY(3px);
    border-radius: .3em;
}

input[type='submit'] {
    width: 100%;
    border: 0;
    color: white;
    background-color: rgb(255, 138, 102);
    padding: .3em;
    border-radius: .3em;
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    cursor: pointer;
}

input[type='submit']:hover {
    background-color:#ff490e;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    background: -webkit-linear-gradient(left, rgb(255, 138, 102) , rgb(250, 142, 41) , rgb(255, 68, 12));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ---- IPAD / TABLET ---- */

@media only screen and (max-device-width: 800px) {
    #body {
        margin: 20em 5em 25em;
    }

    input[type='text'] {
        font-size: 25pt;
    }

    #arriveInput,
    #departInput {
    padding: .7em;
    }

    input[type='date'] {
        font-size: 20pt;
    }

    .dateContainer {
        margin: .5em;
        margin-bottom: 1em;
    }

    input[type='submit'] {
        font-size: 20pt;
        padding-top: .5em;
        padding-bottom: .5em;
    }

    #submitForm {
        padding-top: .5em;
        padding-bottom: .5em;
    }
       
}

/* ---- Smart Phone ---- */

@media only screen and (max-device-width: 450px) {
    #body {
        margin-top: 24em;
        margin-left: 2em;
        margin-right: 2em;
        padding: 1em;
        border-radius: .8em;
    }

    #form_head {
        font-size: 1.5em;
        padding-bottom: .5em;
    }

    input[type='text'] {
        font-size: 35pt;
    }

    #arriveInput,
    #departInput {
    padding: .5em;
    }

    input[type='date'] {
        font-size: 35pt;
    }

    .dateContainer {
        margin: 1em;
        margin-bottom: 2.5em;
        margin-top: 2em;
    }

    input[type='submit'] {
        font-size: 25pt;
        padding-top: .5em;
        padding-bottom: .5em;
    }

    #submitForm {
        padding-top: .5em;
        padding-bottom: .5em;
    }
}