/* ---- fontAwsome ---- */

.fa-plane {
    /* modal plane */
    font-size: 18pt;
    text-align: center;
}

.fa-search {
    /* search icon */
    font-size: 15pt;
    color: black;
}

.plane-date {
    /* depart/arrive plane */
    font-size: 20pt;
    color: rgb(255, 138, 102);
}

.modal-plane {
    padding-right: .5em;
    font-size: 20pt;
    color: rgb(255, 138, 102);
}

.social_icon {
    font-size: 3em;
    color: black;
    padding: .3em;
}

/* ---- IPAD/TABLET ---- */

@media only screen and (max-device-width: 800px) {
    .fa-search {
        /* search icon */
        font-size: 23pt;
    }

    .plane-date {
        /* depart/arrive plane */
        font-size: 25pt;
    }
}

/* ---- Smart Phone ---- */

@media only screen and (max-device-width: 450px) {
    .fa-search {
        /* search icon */
        font-size: 40pt;
    }

    .plane-date {
        /* depart/arrive plane */
        font-size: 40pt;
    }

    .social_icon {
        font-size: 5em;
    }
}