/* GENERAL */
html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
    'nav'
    'bdy'
    /* 'bdy' */
    'save'
    'ft'
    'ftr';
    /* use full page 
    regardless of content  */
    width: 100vw;
    min-height: 100vh;
    /* fixed bg image on scroll */
    background-image: url('../images/travel_road.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%; 
    width: 100%;
    color: white;
    text-align: center;
    display: table;
}

#nav {
    grid-area: nav;
}

#body {
    grid-area: bdy;
    display: inline-block;
}

#savedTrips {
    grid-area: save;
}

#about_footer {
    grid-area: ft;
    display: inline-block;
}

#footer {
    grid-area: ftr;
}

/* Section Containers */
.binding {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    background-color: white;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 4em;
    color: black;
    border-radius: .5em;
}

/* Header styles */
#section_header {
    display: flex;
    /* width: 80%; */
    align-items: center;
    justify-items: center;
    /* color: black; */
}

.line_segment {
    background-color: rgb(255, 138, 102);
    width: 100%;
    height: .3em;
    margin-right: 2em;
    margin-left: 2em;
}