/* ---- GENERAL ---- */

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
    'nav'
    'bdy'
    'save'
    'ft'
    'ftr';
    /* use full page 
    regardless of content  */
    width: 100vw;
    min-height: 100vh;
    /* fixed bg image on scroll */
    background-image: url('../images/travel_road.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%; 
    width: 100%;
    color: white;
    text-align: center;
    display: table;
}

#nav {
    grid-area: nav;
}

#body {
    grid-area: bdy;
    display: inline-block;
}

#savedTrips {
    grid-area: save;
}

#about_footer {
    grid-area: ft;
    display: inline-block;
}

#footer {
    grid-area: ftr;
}

/* ---- Header styles ---- */

#section_header {
    display: flex;
    align-items: center;
    justify-items: center;
}

.line_segment {
    background-color: rgb(255, 138, 102);
    width: 100%;
    height: .3em;
    margin-right: 2em;
    margin-left: 2em;
}

/* ---- Scroll To Top ---- */

#scrollToTop {
    display: none;
    position: fixed;
    right: 60px;
    bottom: 60px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: rgb(255, 138, 102);
    font-size: 70pt;
}

#scrollToTop:hover {
    transform: scale(1.08);
    color: #ff490e;;
}

/* ---- Smart Phone ---- */

@media only screen and (max-device-width: 400px) {
    #scrollToTop {
        font-size: 90pt;
        right: 90px;
        bottom: 90px;
    }
}