/* GENERAL */
body {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
    'nav'
    'bdy'
    /* 'bdy' */
    'save'
    'ft';
    /* use full page 
    regardless of content  */
    width: 100vw;
    min-height: 100vh;
    background-image: url('../images/travel_road.jpg');
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
    background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; 
  width: 100%;
  color: white;
  text-align: center;
  display: table;
}

#nav {
    grid-area: nav;
    /* display: flex;
    justify-content: center; */
}

#body {
    grid-area: bdy;
    display: inline-block;
}

/* .modalArea {
    display: none;
} */

#createTrip {
    
}

/* .modalArea.closeModal {
    display: none;
} */

#savedTrips {
    grid-area: save;
}

#footer {
    grid-area: ft;
    display: inline-block;
}