/* MODAL */
.modal-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    'pic info'
    'pic info'
    'pic info'
}

#info {
    grid-area: info;
}

#modal-container {
    grid-area: pic;
    position: relative;
    text-align: center;
    /* color: white; */
}

.modal-title {
    display: inline-block;
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    color: rgba(255, 255, 255, 0.815);
    font-size: 2em;
    background-color: rgb(255, 138, 102);
    width: 100%;
    font-family: 'Sora', sans-serif;
}

#arrivePic {
    /* image */
    display: inline-block;
    width: 100%;
    height: 100%;
    /* border-radius: .5vw; */
}

.btn {
    color: white;
    background-color: rgb(255, 138, 102);
    border-color: rgb(255, 138, 102);
}

.btn:hover {
    /* color: black; */
    background-color:rgb(255, 68, 12);
    border-color: rgb(255, 68, 12);
}

/* close button */
#savedTrips {
    display: flex;
    margin: 2em;
}

.btn.hide {
    /* color: black; */
    background-color: rgb(126, 126, 126);
    border-color: rgb(126, 126, 126);
}

.btn.delete {
    width: 100%;
}

.saveImg {
    width: 15vw;
    height: 10vw;
    object-fit: cover;
}

/* .trip {
    justify-: center;
    align-self: center;
} */
.saveCard {
    border-color: grey;
    border-radius: .5em;
    margin: 1em;
    transition: transform .2s;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.saveCard:hover {
    transform: scale(1.05)
}

