/* ---- MODAL ---- */

.modal-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    'pic'
    'info'
    'btn';
}

#modal-container {
    grid-area: pic;
    position: relative;
    text-align: center;
    justify-self: start;
}

.modal-title {
    display: inline-block;
    color: rgba(255, 255, 255, 0.815);
    font-size: 2em;
    background-color: rgb(255, 138, 102);
    width: 100%;
    font-family: 'Sora', sans-serif;
}

#arrivePic {
    /* image */
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#info {
    grid-area: info;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    'hd hd'
    'depart return'
    'depart return';
    color: black;
    padding: 1em;
    padding-bottom: 2em;
}

#info_header {
    grid-area: hd;
}

#head_to {
    font-family: 'Fredericka the Great', cursive;
    color:rgb(253, 108, 40);
    font-size: 2em;
}

#head_from {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

#depart {
    grid-area: depart;
    padding-top: 2em;
}

#return {
    grid-area: return;
    padding-top: 2em;
}

.modal-footer > .btn {
    grid-area: btn;
}

/* ---- ALL buttons ---- */

.btn {
    color: white;
    background-color: rgb(255, 138, 102);
    border: 0;
}

.btn:hover {
    background-color:rgb(253, 108, 40);
    border: 0;
}

/* ---- SAVED CARDS ---- */

#beforeTrip {
    display: default;
}

#noTrip {
    font-family: 'Montserrat', sans-serif;
    color: #ff490e;
    font-weight: 800;
    font-size: 3em;
}

#savedTrips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    scroll-margin-top: 100px;
    margin: 2em;
    margin-bottom: 13em;
}

.btn.hide {
    background-color: rgb(126, 126, 126);
    border-color: rgb(126, 126, 126);
}

.btn.delete {
    width: 100%;
}

.saveImg {
    width: 15vw;
    height: 10vw;
    object-fit: cover;
}

.saveCard {
    cursor: pointer;
    border-color: grey;
    border-radius: .5em;
    margin: 1em;
    transition: transform .2s;
    justify-self: center;
    align-self: center;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
}

.saveCard:hover {
    transform: scale(1.05);
}

.saveInfo {
    background-color: white;
    color: black;
}

.saveHeader {
    background-color: white;
}

.tripTo {
    font-family: 'Fredericka the Great', cursive;
    color: rgb(253, 108, 40);
    font-size: 1.1em;
}

.tripFrom {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: .7em;
}

.s_Info {
    color: black;
    font-size: 1em;
}