/* GENERAL */
body {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
    'nav'
    'bdy'
    /* 'bdy' */
    'save'
    'ft';
    /* use full page 
    regardless of content  */
    width: 100vw;
    min-height: 100vh;
}

#nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
}

#nav > div {
    padding: .5em;
}

#body {
    grid-area: bdy;
    display: inline-block;
}

/* .modalArea {
    display: none;
} */

#createTrip {
    
}

/* .modalArea.closeModal {
    display: none;
} */

#savedTrips {
    grid-area: save;
}

#footer {
    grid-area: ft;
    display: inline-block;
}

/* MODAL */
.modal-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    'pic info'
    'pic info'
    'pic info'
}

#info {
    grid-area: info;
}

#modal-container {
    grid-area: pic;
    position: relative;
    text-align: center;
    /* color: white; */
}

.modal-title {
    display: inline-block;
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    color: rgba(255, 255, 255, 0.815);
    font-size: 2em;
    background-color: rgb(93, 201, 50);
    width: 100%;
    font-family: 'Sora', sans-serif;
}

#arrivePic {
    /* image */
    display: inline-block;
    width: 100%;
    height: 100%;
    /* border-radius: .5vw; */
}

.btn {
    color: white;
    background-color: rgb(93, 201, 50);
    border-color: rgb(93, 201, 50);
}

.btn:hover {
    /* color: black; */
    background-color: rgb(14, 133, 14);
    border-color: rgb(14, 133, 14);
}

/* close button */
#savedTrips {
    display: flex;
    margin: 2em;
}

.btn.hide {
    /* color: black; */
    background-color: rgb(126, 126, 126);
    border-color: rgb(126, 126, 126);
}

.btn.delete {
    width: 100%;
}

.saveImg {
    width: 15vw;
    height: 10vw;
    object-fit: cover;
}

/* .trip {
    justify-: center;
    align-self: center;
} */
.saveCard {
    border-color: grey;
    border-radius: .5em;
    margin: 1em;
    transition: transform .2s;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.saveCard:hover {
    transform: scale(1.05)
}

/* form */
#form {
    display: grid;
    grid-template-areas: 
        'place'
        'date'
        'submit';
    justify-content: center;
    align-content: center;
}

#place {
    grid-area: place;
}

#place > .save {
    /* width: 100%;
    border-color: none;
    border-radius: .3em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    margin: .5em;
    border: 0;
    border-color: none */
}

.inputContainer {
    width: 100%;
    border-color: none;
    border-radius: .3em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    margin: 1em;
    padding-left: .5em;
}

input[type='text'] {
    font-size: 14pt;
    padding: .4em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 0;
    width: 90%;

}

#date {
    grid-area: date;
}

#submitForm {
    grid-area: submit;
    justify-self: center;
    align-self: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: rgb(219, 171, 99);
    margin-right: .5em;
    margin-left: .5em;
}

/* fontAwsome */
.fas {
    font-size: 18pt;
    text-align: center;
}

.fa-search {
    font-size: 15pt;
}