/* --- Navigation ---- */

#nav_contain {
    display: block;
    align-content: center;
    background-color: rgb(255, 138, 102);
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.nav_link_head {
    float: left;
    color: white;
    font-size: 1.3em;
    padding: .9em;
    text-align: left;
    line-height: .9em;
}

.nav_link {
    float: right;
    padding: 1em;
}

#nav_contain > a {
    color: white;
    font-size: 1.3em;
}

.nav_link:hover {
    background-color:#ff490e;;
    transform: scale(1.05)
}

/* ---- Smart Phone ---- */

@media only screen and (max-device-width: 450px){
    .nav_link_head {
        font-size: 2em;
    }

    #nav_contain > a {
        font-size: 2em;
    }
}